.main {
  margin-top: 20px;
  margin-bottom: 80px;
}

.music-action i {
  cursor: pointer;
}

.player {
  height: 40px;
  border-top: 1px solid #ccc;
  display: flex;
  background: white;
}

.player-left,
.player-middle,
.player-right {
  height: 100%;
}

.player-left {
  width: 20%;
}

.player-right {
  width: 20%;
}

.player-middle {
  flex-grow: 1;
}

.player > .player-middle > .player-status {
  height: 15px;
  font-size: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player > .player-middle > .progress {
  margin-top: 8px;
  height: 4px;
}
